body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#0f172a;
    color:white;
}

.sidebar{
    position:fixed;
    left:0;
    top:0;
    width:220px;
    height:100vh;
    background:#111827;
    padding:25px;
    box-sizing:border-box;
}

.sidebar h2{
    color:#00d9ff;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    margin:18px 0;
}

.content{
    margin-left:240px;
    padding:40px;
}

.add-btn{
    background:#00d9ff;
    color:black;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
}

#linkList{
    margin-top:25px;
}

.card{
    background:#1e293b;
    padding:20px;
    border-radius:10px;
    margin-bottom:15px;
    word-break:break-word;
}

.modal{
    display:none;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.7);
    justify-content:center;
    align-items:center;
}

.modal-box{
    width:420px;
    background:#1e293b;
    padding:30px;
    border-radius:12px;
}

.modal-box input[type=text]{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    box-sizing:border-box;
    border:none;
    border-radius:8px;
}

#saveLink{
    width:100%;
    padding:12px;
    background:#00d9ff;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
}
